* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url(../img/nat1006.cur), auto !important;
}

.container {
  width: 100%;
}

.container:before {
  animation: grain 1s steps(6) infinite;
  background-image: url("../img/paper_3.jpg");
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.23;
  position: fixed;
  top: -110%;
  width: 300%;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}

.landingPage {
  width: 100%;
  height: 100vh;
  background-color: #040720;
}

.landingPageContent {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.landingMessage {
  width: 200px;
}

.msg {
  color: orange;
  margin-top: 0.5em;
  text-align: center;
  pointer-events: none;
}

.name {
  color: orange;
  margin-top: 0.5em;
  text-align: center;
  font-style: italic;
  pointer-events: none;
}

.showContent {
  display: block;
  text-decoration: none;
  text-align: center;
  color: #212131;
  margin: 0.5em auto;
  letter-spacing: 2px;
  width: 70%;
  border: 1px solid #212131;
  transition: 0.5s;
}

.showContent:hover {
  letter-spacing: 5px;
  transition: letter-spacing 0.5s;
}

.mainPage {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: #040720;
}

@media screen and (max-width: 767px) {
  .showContent:hover {
    letter-spacing: 2px;
  }
}
